<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/admin/layout/header :: header(title='Category Manager')"></head>

<body>
	<div class="wrapper">
		<!-- Sidebar -->
		<div th:replace="/admin/layout/sidebar :: sidebar"></div>
		<!-- End Sidebar -->

		<div class="main-panel">
			<div class="main-header">
				<div class="main-header-logo">
					<!-- Logo Header -->
					<div th:replace="/admin/layout/logo-header :: logo-header"></div>
					<!-- End Logo Header -->
				</div>
				<!-- Navbar Header -->
				<nav th:replace="/admin/layout/navbar :: navbar"></nav>
				<!-- End Navbar -->
			</div>

			<div class="container">
				<div class="page-inner">
					<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">
						<div>
							<h1 class="fw-bold mb-3">Category manager</h1>
						</div>
						<div class="ms-md-auto py-2 py-md-0">
							<!-- Export Button with Icon -->
							<a href="#" class="btn btn-success btn-round me-2">
								<i class="fa fa-plus"></i> Add Category
							</a>

							<!-- Import Button with Icon -->
							<a href="#" class="btn btn-warning btn-round">
								<i class="fa fa-upload"></i> Export
							</a>
						</div>

					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-body">
									<div class="table-responsive">
										<div id="multi-filter-select_wrapper"
											class="dataTables_wrapper container-fluid dt-bootstrap4">
											<div class="row">
												<div class="col-sm-12 col-md-6">
													<div class="dataTables_length" id="multi-filter-select_length">
														<label>Show <select name="multi-filter-select_length"
																aria-controls="multi-filter-select"
																class="form-control form-control-sm"
																fdprocessedid="sap38">
																<option value="10">10</option>
																<option value="25">25</option>
																<option value="50">50</option>
																<option value="100">100</option>
															</select> entries</label>
													</div>
												</div>
												<div class="col-sm-12 col-md-6">
													<div id="multi-filter-select_filter" class="dataTables_filter">
														<label>
															<select class="form-select" fdprocessedid="7x061q">
																<option value="Zorita Serrano">Active</option>
																<option value="Zorita Serrano">Un Active</option>
															</select>
														</label>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-12">
													<table id="multi-filter-select"
														class="display table table-striped table-hover dataTable"
														role="grid" aria-describedby="multi-filter-select_info">
														<thead>
															<tr role="row">
																<th>Image</th>
																<th>Categoty Name</th>
																<th>Product Quantity</th>
																<th>Created Date</th>
																<th>Modified Date</th>
																<th>Status</th>
																<th>Actions</th>
															</tr>
														</thead>
														<tbody>
															<tr role="row" class="odd">
																<td>Angelica Ramos</td>
																<td>Chief Executive Officer (CEO)</td>
																<td>London</td>
																<td>2009/10/09</td>
																<td>$1,200,000</td>
																<td>$1,200,000</td>
																<td>
																	<div class="form-button-action">
																		<a href="" class="btn btn-link btn-secondary btn-lg">
																			<i class="fa fa-eye"></i>
																		</a>
																		<a href="" class="btn btn-link btn-primary btn-lg">
																			<i class="fa fa-edit"></i>
																		</a>
																		<a href="" class="btn btn-link btn-danger btn-lg">
																			<i class="fa fa-times"></i>
																		</a>
																	</div>
																</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-12 col-md-7">
													<div class="dataTables_paginate paging_simple_numbers"
														id="multi-filter-select_paginate">
														<ul class="pagination">
															<li class="paginate_button page-item previous disabled"
																id="multi-filter-select_previous"><a href="#"
																	aria-controls="multi-filter-select" data-dt-idx="0"
																	tabindex="0" class="page-link">Previous</a></li>
															<li class="paginate_button page-item active"><a href="#"
																	aria-controls="multi-filter-select" data-dt-idx="1"
																	tabindex="0" class="page-link">1</a></li>
															<li class="paginate_button page-item "><a href="#"
																	aria-controls="multi-filter-select" data-dt-idx="2"
																	tabindex="0" class="page-link">2</a></li>
															<li class="paginate_button page-item "><a href="#"
																	aria-controls="multi-filter-select" data-dt-idx="3"
																	tabindex="0" class="page-link">3</a></li>
															<li class="paginate_button page-item next"
																id="multi-filter-select_next"><a href="#"
																	aria-controls="multi-filter-select" data-dt-idx="4"
																	tabindex="0" class="page-link">Next</a></li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Custom template | don't include it in your project! -->
		<div th:replace="/admin/layout/custom-template :: custom-template"></div>
		<!-- End Custom template -->
	</div>
	<!--   Core JS Files   -->
	<script src="/dashboard/js/core/jquery-3.7.1.min.js"></script>
	<script src="/dashboard/js/core/popper.min.js"></script>
	<script src="/dashboard/js/core/bootstrap.min.js"></script>

	<!-- Kaiadmin DEMO methods, don't include it in your project! -->
	<script src="/dashboard/js/setting-demo.js"></script>
	<script src="/dashboard/js/demo.js"></script>
	
</body>

</html>